/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(8px);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a i {
    margin-right: 6px;
}

.navbar a {
    text-decoration: none;
    color: #4a5c8a;
    font-weight: 600;
}
.small-logo {
    height: 90px;   /* chhota size */
    width: auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    color: #4a5c8a;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}

.hero-btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 10px;
    background: linear-gradient(135deg, #a0c4ff, #cdb4ff);
    color: rgb(85, 66, 66);
    text-decoration: none;
    font-weight: 600;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

.card {
    background: rgb(189, 173, 173);
    padding: 25px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}