{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dreamland Destinations</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/dream.jpg' %}" 
             alt="Dream Logo" 
             class="small-logo">
    </a>
</div>
    <ul>
<li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>

<li><a href="{% url 'packages' %}">
    <i class="fa-solid fa-suitcase"></i> Packages
</a></li>

{% if request.user.is_authenticated %}
    <li><a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a></li>
{% else %}
    <li><a href="{% url 'login' %}">
        <i class="fa-solid fa-right-to-bracket"></i> Login
    </a></li>

    <li><a href="{% url 'register' %}">
        <i class="fa-solid fa-user-plus"></i> Register
    </a></li>
{% endif %}

    </ul>
</nav>

<section class="hero">
    <h1>Explore The World With Us 🌍</h1>
    <p>Your journey begins here. Book amazing travel packages now!</p>
    <a href="#" class="hero-btn">Explore Packages</a>
</section>

<section class="features">
    <div class="card">
        <h3>🚌 Comfortable Travel</h3>
        <p>Luxury bus travel with confirmed seats.</p>
    </div>

    <div class="card">
        <h3>🏨 Best Hotels</h3>
        <p>Premium stay with all facilities included.</p>
    </div>

    <div class="card">
        <h3>📅 Perfect Itinerary</h3>
        <p>Well planned day-night travel schedule.</p>
    </div>
</section>

</body>
</html>