{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minimal Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" type="text/css" media="all" />
    {% if not_registered %}
    <script>
        alert('{{not_registered}}')
    </script>
    {% endif %}

    {% if registered %}
    <script>
        alert('{{registered}}')
    </script>
    {% endif %}
</head>

<body>

<div class="w3l-loginblock signin-form">

    <div class="logo">
        <h1><a href="#">Login form</a></h1>
    </div>
    <div class="login-form">

        <form method="POST">
            {% csrf_token %}

            <div class="form-grid">

                <div class="input-field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>
                </div>


            </div>

            <div class="check-remain">
                <input type="checkbox" name="remember">
                <span>Remember Me</span>
            </div>

            <button type="submit" class="btn">Login Now</button>

        </form>

    </div>

</div>

</body>
</html>
